@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-doodle: var(--font-doodle);

  --animate-scroll-from-right: scroll-from-right 25s linear forwards;

  @keyframes scroll-from-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  .minimal-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
